# Pipeline ELT Microfinance – dépendances
# Airflow s'installe séparément via init.sh (constraint file officiel)

# Data Warehouse local
duckdb==1.1.3

# dbt adapter DuckDB
dbt-duckdb==1.9.1

# Utilitaires
pandas==2.2.2

# Dashboard
streamlit>=1.35.0
plotly>=5.20.0
